{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <body onload="showClock()">
    <div class="mt-5 pt-5 row justify-content-center">
        <h2 class="text-center my-5 col-12">결제가 완료되었습니다!</h2>
        <div class="col-4 p-5 bg-light">
            <h3 class="text-center my-5">주문자 정보</h3>
            <div>
                <div class="my-3 row">
                    <div class="h5 col-6">유저</div>
                    <div class="h6 col-6 text-right">{{ user.username }}</div>
                </div>
                <div class="my-3 row">
                    {% for cart_item in cart_items %}
                        <div class="h5 col-6">상품</div>
                        <div class="h6 col-6 text-right">{{ cart_item.product.name }} X {{ cart_item.quantity }}</div>
                    {% endfor %}
                </div>
                <div class="my-3 row">
                    <div class="h5 col-6">총 결제금액</div>
                    <div class="h6 col-6 text-right">{{ stripe_total|intcomma }}원</div>
                </div>
            </div>
            <div class="mt-5 pt-3 text-center">
                <a href="{% url 'product:index' %}" class="btn btn-warning">메인으로 돌아가기</a>
            </div>

        </div>

    </div>
    </body>

{% endblock %}
<script type="text/javascript">
    function showClock() {
        const currentDate = new Date();
        const divClock = document.getElementById("divClock");

        let msg = currentDate.getHours() + "시 "
        msg += currentDate.getMinutes() + "분 ";
        msg += currentDate.getSeconds() + "초 ";

        if (currentDate.getHours() >= 12) {
            msg += "PM";
        } else {
            msg += "AM";
        }

        divClock.innerText = msg;

        setTimeout(showClock, 1000);
    }
</script>