{#  중복된 불필요한 파일들을 제거해줌  #}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
    <link rel="stylesheet", type="text/css", href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet", type="text/css", href="{% static 'style.css' %}">
    <title>Title</title>
    {% block header %}
    {% endblock %}
</head>
<body>
{## include 해당 위치에 다른 문서의 내용을 삽입시킴#}
{% include "navbar.html" %}
{% block content %}
{% endblock %}

<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>